.main_bar {
    flex-grow: 1
}
.menuButton {
    text-align: left;
    width: 5%;
}
.body {
    flex-direction: column;
    width: 100%;
    height: auto;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%;
}
.info{
    font-size: large;
    margin-bottom: 1rem;
}
.text {
    color: dimgray;
    /* margin-bottom: 1rem; */
}
.tttt {
    margin-left: 100;
    margin-right: 20px;
}
.text2 {
    flex-direction: row;
    margin-right: 20px;
}
.value { 
    color: black;
    margin-bottom: 1rem;

}